.page {
  min-height: 450px;
  border-bottom: 1px solid #CCC;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px #DDD;
}
.page--food {
  background-color: #F1F1F1;
  color: #333;
}
.page--fashion {
  background-color: #DDD;
}
