.appItems {
  overflow: hidden;
  text-align: center;
}
.appItem {
  background: #71C9B7;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 2px 10px 15px;
  position: relative;
  box-shadow: 0 0 1px #008860;
  border: 3px solid transparent;
}
.appItem--is-inBasket {
  border: 3px solid #FB4065;
}
.appItem-qty {
  display: none;
  padding: 5px 10px;
  background-color: #FB4065;
  color: #FFF;
  margin-left: 10px;
}
.appItem--is-inBasket .appItem-qty {
  display: inline-block;
}
.appItem-title {
  width: 100%;
  text-transform: uppercase;
  color: #FFF;
  background-color: #333;
  background-color: rgba(33, 33, 33, 0.2);
  letter-spacing: 1px;
  font-family: 'Futura', monospace;
  padding: 10px 15px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
.appItem-img {
  box-shadow: 0 0 1px #008860;
}
.appItem-price {
  background-color: #FFF;
  padding: 5px 10px;
  display: inline-block;
  margin: 10px 0;
}
.addBasket {
  margin-right: 10px;
}
