/*
  OOCSS / SMACCS & BEM based CSS starter
  lightweight CSS is the aim, only add what you need, consult the README
*/

/* settings */
@import "settings";

/* Sass utilities */
@import "main/utils/functions";
@import "main/utils/mixins";
@import "main/utils/helpers";

/* Base */
@import "main/base/base";
@import "main/base/normalize";

/* Layout */
@import "main/layout/layout";

/* Modules */
@import "main/modules/base-modules";

/* shame file - quick and dirty styles */
@import "main/shame";
